@keyframes flash_light {
    0% {
        height: 0px;
        opacity: 0.5;
    }

    7.5% {
        height: 20vw;
    }

    8%,
    12%,
    16% {
        opacity: 0.5;
    }

    10%,
    14% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        height: 20vw;
        opacity: 1;
    }
}

.lightning {
    width: 20vw;
    height: 20vw;
}

.lightning.flashing {
    animation: flash_light 3s;
}