<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ElecTrap 樂齡挑戰</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/background.css') }}" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/button.css') }}" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/popup_frame.css') }}" >
  <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/js/playbgm.js') }}"></script>
  {% block head %}
  {% endblock %}
</head>
<body translate="no">
  {% block content %}
  {% endblock %}
</body>
</html>