<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ElecTrap 樂齡挑戰</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/background.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/button.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" >
    <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/playbgm.js') }}"></script>
    <script>
      window.console = window.console || function(t) {};
    </script>
    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
  </head>
  <body translate="no" >
    <div class="background-animation">
      <div class="music-btn">
        <audio id="music2" src="/static/bgm/bgm.mp3"  loop="loop">你的瀏覽器不支援audio標籤。</audio>    
        <a href="javascript:playPause();"><img src="{{url_for('static',filename='/images/pause.png')}}" width="35" height="35" id="music_btn2" ></a>
      </div>
      <div class="sky text container">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <img src="{{ url_for('video_feed') }}">
          </div>
          <div class="col"></div>  
        </div>
        <p class="col text-center">Select Pose Type</p>
        <form class="row" method="POST" action="{{ url_for('pose') }}">
          <div class="col-3"></div>
          <div class="col-2">
            <button type="submit" class="clkbutton" name="pose" value="hands"> Hands </button>
          </div>
          <div class="col-2">
            <button type="submit" class="clkbutton" name="pose" value="foot"> Foot </button>
          </div>
          <div class="col-2">
            <button type="submit" class="clkbutton" name="pose" value="head"> Head </button>
          </div>
          <div class="col-3"></div>
        </form>
        <div class="stars"></div>
        <div class="stars1"></div>
        <div class="stars2"></div>
        <div class="shooting-stars"></div>
      </div>
    </div>
  </body>
</html>





