<!DOCTYPE html5>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ElecTrap 樂齡挑戰</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/background.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/button.css') }}" >
    <script>
      window.console = window.console || function(t) {};
    </script>
    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('video_feed') }}">
    <h1> Select Pose Type </h1>
    <form method="POST" action="{{ url_for('pose') }}">
    <button type="submit" name="pose" value="hands"> Hands </button>
    <button type="submit" name="pose" value="foot"> Foot </button>
    <button type="submit" name="pose" value="head"> Head </button>
    </form>
  </body>
</html>