<!DOCTYPE html5>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ElecTrap 樂齡挑戰</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/background.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/button.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/videostream.css') }}" >
    <script>
      window.console = window.console || function(t) {};
    </script>
    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
  </head>

  <body>
    <div class="container">
      <div class="sky"></div>
      <div class="stars"></div>
      <div class="stars1"></div>
      <div class="stars2"></div>
      <div class="shooting-stars"></div>
    </div>
    <div class="videostream">
      <img src="{{ url_for('video_feed') }}">
      <h1> Select Pose Type </h1>
        <form class ="btposition" method="POST" action="{{ url_for('pose') }}">
          <button class="clkbutton" id ="Handsbt" role="button" type="submit" name="pose" value="hands"> Hands </button>
          <button class="clkbutton" id ="Footbt" role="button" type="submit" name="pose" value="foot"> Foot </button>
          <button class="clkbutton" id ="Headbt" role="button" type="submit" name="pose" value="head"> Head </button>
        </form>
    </div>
  </body>
</html>