<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ElecTrap 樂齡挑戰</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/background.css') }}" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/button.css') }}" >

  <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}"></script>
  <script>
    window.console = window.console || function(t) {};
  </script>
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
  </script>
</head>

<body translate="no" >
  <div class="background-animation">
    <div class="sky text container">
      <p class="col text-center">遊戲模式</p>
      <div class="row">
        <div class="col-1"></div>
        <button type="button" class="clkbutton col" role="button" 
        onclick="javascript:location.href='bodySelect.html'"  >暖身模式</button>
        <div class="col-1"></div>
        <button type="button" class="clkbutton col" role="button" 
        onclick="javascript:location.href='bodySelect.html'"  >大神模式</button>
        <div class="col-1"></div>
      </div>

      <div class="stars"></div>
      <div class="stars1"></div>
      <div class="stars2"></div>
      <div class="shooting-stars"></div>
    </div>
    <button type="button" class="clkbutton back-btn" role="button" 
      onclick="javascript:history.back()">back</button>
  </div>
</body>
</html>