<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ElecTrap 樂齡挑戰</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/background.css') }}" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/button.css') }}" >
  <script>
    window.console = window.console || function(t) {};
  </script>
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
  </script>
</head>

<body translate="no" >
  <div class="container">
    <div class="sky">
        <button type="button" class="clkbutton" role="button" 
        style ="position:absolute;bottom:5%;right:2%;width:130px;height:80px;font-size: 40px;"
        onclick="javascript:location.href='bodySelect.html'"  >back</button>

      <div class="text">
        <p style="position:fixed ;top:17%; right:40%;">請選擇關卡</p>
        <button type="button" class="clkbutton" role="button" style="position:fixed;top:45%;left:20%;"onclick="javascript:location.href='demo.html'"  >1</button>
        <button type="button" class="clkbutton" role="button" style="position:fixed;top:45%;left:35%;"onclick="javascript:location.href='demo.html'"  >2</button>
        <button type="button" class="clkbutton" role="button" style="position:fixed;top:45%;left:50%;"onclick="window.alert('此區域尚未開發')"  >3</button>
        <button type="button" class="clkbutton" role="button" style="position:fixed;top:45%;left:65%;"onclick="window.alert('此區域尚未開發')"  >4</button>
        <button type="button" class="clkbutton" role="button" style="position:fixed;top:63%;left:20%;"onclick="window.alert('此區域尚未開發')"  >5</button>
        <button type="button" class="clkbutton" role="button" style="position:fixed;top:63%;left:35%;"onclick="window.alert('此區域尚未開發')"  >6</button>
        <button type="button" class="clkbutton" role="button" style="position:fixed;top:63%;left:50%;"onclick="window.alert('此區域尚未開發')"  >7</button>
        <button type="button" class="clkbutton" role="button" style="position:fixed;top:63%;left:65%;"onclick="window.alert('此區域尚未開發')"  >8</button>
      </div>
      <div class="stars"></div>
      <div class="stars1"></div>
      <div class="stars2"></div>
      <div class="shooting-stars"></div>
    </div>
  </div>
</body>
</html>