{% extends 'base.html' %}

{% block content %}
  <div class="background-animation">
    <div class="music-btn">
      <audio id="music2" src="/static/bgm/bgm.mp3"  loop="loop">你的瀏覽器不支援audio標籤。</audio>    
      <a href="javascript:playPause();"><img src="{{url_for('static',filename='/images/pause.png')}}" width="35" height="35" id="music_btn2"></a>
    </div>
    <div class="sky text container">
      <p class="text-center">ElecTrap <span>樂齡挑戰</span></p>
      <div class="row">
        <div class="col"></div>
        <div class="wrap">
          <a class="popup-btn clkbutton" href="#letmeopen">開始遊戲</a>
        </div>
        <div class="popup-wrap" id="letmeopen">
          <div class="popup-box transform-out"  >
            <form action="{{url_for('getusername')}}" method="post">
              <h2>請輸入使用者名稱</h2>
              <h3>
                <div><input type="text" class ="nameframe" value="popcorn" name="user_name"></div>
                <div><button class="clkbutton" type="submit" >Start</button></div>
              </h3>
            </form>
              <a class="close-btn popup-close" href="#">x</a>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <br>
      <div class="row">
        <div class="col"></div>
        <div class="col wrap">
          <input type="button" value="排行榜" class="popup-btn clkbutton rank-btn" role="button" onclick="javascript:location.href='rank'"  ></button>

        </div>
        <div class="col"></div>
      </div>
      <div class="stars"></div>
      <div class="stars1"></div>
      <div class="stars2"></div>
      <div class="shooting-stars"></div>
      <script src="{{ url_for('static', filename='/js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/stopExecutionOnTimeout.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
      <script id="rendered-js" ></script>
    </div>
  </div>
{% endblock%}