<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>ElecTrap 樂齡挑戰</title>
  <link rel="stylesheet" href="/css/background.css">
  <link rel="stylesheet" href="/css/button.css">
  <script>
    window.console = window.console || function(t) {};
  </script>
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
  </script>
</head>

<!-- HTML !-->


<body translate="no" >
  <div class="container">
    <div class="sky">
      <div class="text">
        <p>ElecTrap 樂齡挑戰</p>
        <button type="button" class="clkbutton" role="button" style="top:80%;left:35%;"onclick="javascript:location.href='gamemode.html'"  >Start</button>
      </div>
      <div class="stars"></div>
      <div class="stars1"></div>
      <div class="stars2"></div>
      <div class="shooting-stars"></div>
    </div>
  </div>


</body>

</html>