{% extends 'base.html' %}
{% block head %}
    <!--  JQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Socket.IO CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"
          integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
    	#video {
    		transform: rotateY(180deg);
    		-webkit-transform:rotateY(180deg); /* Safari and Chrome */
    		-moz-transform:rotateY(180deg); /* Firefox */
        display: none;
    	}
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/lightning.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.min.css')}}">
{% endblock %}

{% block content %}
    <div class="background-animation">
      <div class="music-btn">
        <audio id="music2" src="/static/bgm/bgm.mp3"  loop="loop">你的瀏覽器不支援audio標籤。</audio>    
        <a href="javascript:playPause();"><img src="{{url_for('static',filename='/images/pause.png')}}" width="35" height="35" id="music_btn2" ></a>
      </div>
      <div>
        <div class>
          <div class="lightning">
            <div class="lightning1">
              <img class="crack1" src="{{url_for('static',filename='/images/redlight.png')}}" height="400" width="400">
            </div>
            <div class="lightning2">
              <img class="crack2" src="{{url_for('static',filename='/images/greenlight.png')}}" height="400" width="400">
            </div>
            <div class="lightning3">
              <img class="crack3" src="{{url_for('static',filename='/images/purplelight.png')}}" height="400" width="400">
            </div>
            <div class="lightning4">
              <img class="crack4" src="{{url_for('static',filename='/images/bluelight.png')}}" height="400" width="400">
            </div>
          </div>
        </div>
      </div>
      <div class="sky text container">
        <div class="row">
          <div class = "col"></div>
          {% for key,value in dic1.items() %}
            <div class = "col-1">
              <img id={{key}} src="{{url_for('static', filename='/images/heart.png')}}" widht="80" height="80" onclick={{value}} >
            </div>
          {%endfor%}
          <div class = "col"></div>
        </div>
        <div class="row finalshake">
          <div class="col"></div>
          <div class="col cam" >
            <img class="photo"  src="{{ url_for('video_feed') }}" >
          </div>
          <div class="col"></div>  
        </div>
        <div class="stars"></div>
        <div class="stars1"></div>
        <div class="stars2"></div>
        <div class="shooting-stars"></div>
        <div id="container">
          <canvas id="canvasOutput"></canvas>
          <video autoplay="true" id="videoElement"></video>
        </div>
        <div id="container">
          <video autoplay playsinline id="videoElement" hidden></video>
          <canvas id="canvas"></canvas>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="gameover" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="gameoverLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="gameoverLabel">Game Over</h5>
          </div>
          <div class="modal-body">
            Game Over
          </div>
          <div class="modal-footer">
            <a href="{{ url_for('index') }}" class="btn btn-primary"> Back to home </a>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='/js/HitPoint.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo.js') }}"></script>
{% endblock %}