<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>ElecTrap 樂齡挑戰</title>
  <link rel="stylesheet" href="/css/background.css">
  <link rel="stylesheet" href="/css/button.css">
  <script>
    window.console = window.console || function(t) {};
  </script>
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
  </script>
  <style>
    iframe {
        display:block;
        width: 100%; height:100%;
        background: transparent;
        position:fixed;  
        top:60px;
        left:450px;
    }
  </style>
</head>

<!-- HTML !-->


<body translate="no" >
  <div class="container">
    <div class="sky">
      <div >
        <div id="iframe">
            <iframe frameborder="0"
                noresize="noresize"
                src="http://127.0.0.1:5000">
            </iframe>
        </div>
      </div>
      <div class="stars"></div>
      <div class="stars1"></div>
      <div class="stars2"></div>
      <div class="shooting-stars"></div>
    </div>
  </div>


</body>

</html>






